* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: lightblue;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 3rem;
}

.btn {
  background-color: aliceblue;
  width: 17rem;
  font-size: 1.5rem;
  margin-inline: 1.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 15px;
}

.btn:hover {
  background-color: rgb(224, 240, 255);
}
